footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(46, 110, 248, 0.665);
  color: #e5eaea;

  text-align: center;
  margin-top: 20px;
  min-height: 50px;
}
.App {
  min-height: 100vh;
}
