/* Smaller Screens */
@media screen and (max-width: 600px) {
}
/* Larger Screens  */
@media screen and (min-width: 900px) {
  .split-text-area {
    margin-top: 20px;
    text-align: center;
    font-size: large;
    z-index: 10;
  }
}
