@tailwind
body {
  background-color: rgb(249, 240, 223);
  height: 100%;
  margin-inline: 20px;
  color: rgb(47, 55, 89);
  font-size: 32px;
}

/* Smaller Screens */
@media screen and (max-width: 600px) {
}
/* Larger Screens  */
@media screen and (min-width: 900px) {
}
