body {
  background-color: #e5eaea;
  height: 100%;
  color: rgb(47, 55, 89);
  font-size: 32px;
}

/* Smaller Screens */
@media screen and (max-width: 600px) {
  .main-content {
    margin-inline: 5%;
    margin-top: 50px;
  }
}

/* Larger Screens  */
@media screen and (min-width: 900px) {
  .main-content {
    margin-inline: 10%;
    margin-top: 100px;
  }
}
